
body {
  background-color: #f0f0f0;
  font-family: 'Poppins', sans-serif;
}

.logo {
  display: inline-block;
  transition: transform 0.3s ease;
  cursor: pointer;
}

.logo:hover {
  transform: scale(1.1);
}

